artifactory(type='ftp', host='127.0.0.1', user='test', passwd='123456')
easy_install(link='http://192.168.56.101:8081/index.html', local='~/.octopus/easy_install')
third_source (prefix='~/third', build_dir='~/third/source')
